@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');



.iconcontainer {
  display: flex;
  gap: 2rem;
  margin-top: 30px;
  align-items: center;
}

.iconcontainer a {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
}

.iconcontainer a:hover {
  letter-spacing: 0.25rem;
  background: var(--color);
  color: var(--color);
  box-shadow: 0 0 35px var(--color);
}

.iconcontainer a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.iconcontainer a span {
  position: relative;
  z-index: 1;
}

.iconcontainer a i {
  position: absolute;
  inset: 0;
  display: block;
}

.iconcontainer a i::before {
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.iconcontainer a:hover i::before {
  left: 20%;
  width: 20px;
}

.iconcontainer a i::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.iconcontainer a:hover i::after {
  left: 80%;
  width: 20px;
}