/* Keyframes animation */
@keyframes slideRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.vision {
    background: url(images/BackGroundki.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 50px 0; /* Add padding for space between sections */
    opacity: 0;
    transform: translateY(20px); /* Initial position below */
    transition: opacity 1s, transform 1s;
}

.vision:hover {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.vision-img img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

/* About Section Text */
.about-text h2 {
    font-size: 4rem; /* Responsive font size */
}

.about-text h4 {
    font-size: 2rem; /* Responsive font size */
}

.about-text p {
    font-size: 1.6rem; /* Responsive font size */
}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
    /* Vision Section */
    .vision {
        padding: 20px 0; /* Reduce padding for smaller screens */
    }

    /* About Section Text */
    .about-text h2 {
        font-size: 3rem; /* Further reduce font size for smaller screens */
    }

    .about-text h4 {
        font-size: 1.4rem; /* Further reduce font size for smaller screens */
        margin: 10px 0 20px; /* Adjust margin for smaller screens */
    }

    .about-text p {
        font-size: 1.2rem; /* Further reduce font size for smaller screens */
    }

    /* Animation Container */
    .animation-container {
        width: 150px; /* Reduce container size for smaller screens */
        height: 150px; /* Reduce container size for smaller screens */
        margin-left: 10%; /* Adjust margin for smaller screens */
    }

    .text {
        font-size: 1.2rem; /* Further reduce font size for smaller screens */
    }
}

/* Add more media queries for other responsive adjustments as needed */
